@media screen and (max-width:600px){   
   
    html{
        font-size: 95%;
    }
    header{
        padding: 0;
       
    }
    section{
        padding: 0;
    }
    .home{
     .header-content{
            grid-template-columns: 1fr;          
        .left-header{
            align-items: center;
            .name{
                width: 100%;
                right: 0!important;
                text-align: center!important;
            }
            h1{
                margin-bottom: o!important;    
            }
            p{
                width: 100%;
            }
            h3{
                align-self: flex-end;
                margin-right: 2rem;
            }
            .btn-con{
                align-self: center;
                margin-top: 1.5rem;
            }
        }    
        .right-header{
            display: none;
        }    
        }
    }   
    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;       
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--bgcol);
        .control{
            margin: .5rem ;
        }
        .float{
            display: none;
        }
    }
    .about{
        padding: 2rem;
        .main-title{
            h1{
                font-size: 150%!important;           
        }        
        }
        .about-container{
            grid-template-columns: 1fr;
            padding: 0;
            .l-con{
               padding: 0 2rem !important; 
              h4{
                  font-size: 1.5rem;
                  span{
                      font-size: 175%;
                  }
              } 
            }
            .r-con{
                .abt-item{                    
                    .abt-txt{
                        width: 100%;
                        padding: 1rem;
                        align-items: center;
                        .large-txt{
                        font-size: 200%!important;    
                        }
                        .small-txt{
                        font-size: 100%!important;
                        }
                    }
                }
            }
        }
        .skill-title{
            width: 100%;
            margin-top: 1rem;
            h1{
                font-size: 175%;
                .bg-txt{
                    font-size: 175%;
                }
            }
        }
        .quality-section{
            grid-template-columns: 1fr;
            padding: 1rem 0;
            .skill-table{
                margin-top: 0 !important;
                padding: 0 1rem;
                .skill-item{
                    padding: .5rem;
                }
            }
            .passion{
                padding: 1.5rem 0;
                .passion-head{
                    h1{
                        font-size: 175%;
                        pointer-events: none;
                        .bg-txt{
                            font-size: 175%;
                        }
                    }
                }
                .passion-table{
                    margin-top: 0;
                    grid-gap: 1rem;
                    .passion-item{
                        .passion-name{
                            font-size: 100%;
                            h4{
                            font-size: 125% !important;
                        } 
                        }
                       .desc{
                        font-size: 100% !important; 
                        margin-bottom: 0;      
                    }
                    }
                }
            }          
        }
        .timeline{
            grid-template-columns: 1fr !important;        
        }
    }
    .contact{
        padding: 2rem ;
        .con-title{
            h1{
                font-size: 175%;
            }
        }
        .con-body{
            padding: 0;
        .right-con{
            padding: 0;            
            .heading{
            h1{
                font-size: 150%;
            } 

            }
            .contact-form{
                min-width: 15rem !important;
                margin-top: .5rem;
                width: 100%;
                padding: 0;
                .submit{
                  width: 40%;
                }
            }
        }
    }
    }
}