@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --dark-1000: #222629;
  --dark-500: #474B4F;
  --bgcol: hsl(243, 29%, 15%);
  --bglight: #3C3F58;
  --txtlight: hsl(234, 19%, 65%);
  --highlight: hsl(0, 100%, 50%);
  --highred: hsl(5, 80%, 45%);
  --lightgreen: #8cff32;
  --lightyellow: hsl(45, 100%, 50%);
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  --box-shadow-2:1px 5px 10px rgba(0, 0, 0, .5);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
  list-style: none;
}

body {
  background-color: var(--dark-1000);
  color: white;
  font-size: 1.0rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .control {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: var(--dark-500);
  padding: .7rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 1rem;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.controls .control:hover {
  background-color: var(--lightgreen);
}

.controls .control:hover i {
  color: #1a1a1a;
}

.controls .control .float {
  font-size: 150%;
  position: absolute;
  pointer-events: none;
  left: 33%;
  bottom: 5%;
  opacity: 0%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: -15;
}

.controls .control .shift {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .control .shift:hover + .float {
  left: 125%;
  opacity: 100%;
}

.controls .control i {
  color: #bfbfbf;
  font-size: 0.9rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.controls .activeIt {
  background-color: var(--highlight);
}

.controls .activeIt:hover {
  background-color: var(--highred);
}

.controls .activeIt:hover i {
  color: white;
}

.controls .activeIt i {
  color: white;
  font-size: 1.2rem;
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
  position: relative;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 8rem;
}

.section {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: var(--bgcol);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #ffb2f0;
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #ff9dc9;
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

.show {
  display: block;
  -webkit-animation: slide 1s ease-in-out;
          animation: slide 1s ease-in-out;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-75%) scaleY(0);
            transform: translateY(-75%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-75%) scaleY(0);
            transform: translateY(-75%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.b {
  border: 2px solid white;
}

.btn-con .main-btn {
  text-decoration: none;
  width: 14rem;
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25rem;
  position: relative;
  border: 1px solid var(--highlight);
  overflow: hidden;
}

.btn-con .main-btn .btn-text {
  padding: 0 2rem;
  color: white;
  text-decoration: none;
}

.btn-con .main-btn .btn-icon {
  padding: .7rem;
  background-color: var(--highred);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.btn-con .main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highred);
  z-index: -1;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.btn-con .main-btn:hover .btn-icon {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.btn-con .main-btn:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.color-red {
  color: var(--highlight) !important;
}

.home .blendimg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  background-color: var(--bgcol);
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home .header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.home .header-content .right-header {
  position: relative;
}

.home .header-content .right-header .triangle {
  right: -25%;
  top: 0;
  z-index: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
  -webkit-animation: anim 15s infinite alternate ease-in-out;
          animation: anim 15s infinite alternate ease-in-out;
}

.home .header-content .right-header .triangle:hover + .triangle2 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: white;
}

@-webkit-keyframes anim {
  0% {
    background-color: var(--lightgreen);
  }
  47% {
    background-color: var(--lightgreen);
  }
  53% {
    background-color: var(--highlight);
  }
  100% {
    background-color: var(--highlight);
  }
}

@keyframes anim {
  0% {
    background-color: var(--lightgreen);
  }
  47% {
    background-color: var(--lightgreen);
  }
  53% {
    background-color: var(--highlight);
  }
  100% {
    background-color: var(--highlight);
  }
}

.home .header-content .right-header .triangle2 {
  right: -50%;
  top: 0;
  background-color: var(--bgcol);
  z-index: 2;
  pointer-events: none;
  -webkit-clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.home .header-content .right-header .triangle3 {
  width: 31.5rem;
  height: 45rem;
  border-radius: 1rem;
  position: absolute;
  top: 15%;
  right: 0%;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.home .header-content .right-header .triangle3 .img {
  width: 93%;
  height: 95%;
  border-radius: 1rem;
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
}

.home .header-content .right-header .popdown {
  -webkit-transform: translateX(50%) scale(0.5);
          transform: translateX(50%) scale(0.5);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.home .header-content .right-header .popup {
  -webkit-transform: translateX(-15%) scale(1);
          transform: translateX(-15%) scale(1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.home .header-content .right-header .shape {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home .header-content .left-header {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.home .header-content .left-header .name {
  text-align: center;
}

.home .header-content .left-header .name span {
  font-size: 150%;
  color: var(--lightgreen);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@-webkit-keyframes clr {
  0% {
    color: var(--highlight);
  }
  47% {
    color: var(--highlight);
  }
  53% {
    color: var(--lightgreen);
  }
  100% {
    color: var(--lightgreen);
  }
}

@keyframes clr {
  0% {
    color: var(--highlight);
  }
  47% {
    color: var(--highlight);
  }
  53% {
    color: var(--lightgreen);
  }
  100% {
    color: var(--lightgreen);
  }
}

.home .header-content .left-header h1 {
  position: relative;
  right: 10%;
}

.home .header-content .left-header h3 {
  color: var(--lightgreen);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.home .header-content .left-header h3 span {
  color: white;
  padding-right: 1rem;
  border-right: 0.2rem solid var(--lightgreen);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.home .header-content .left-header h3 .border-red {
  border-right: 0.2rem solid var(--highlight);
}

.home .header-content .left-header p {
  padding: 0rem 2rem;
  color: var(--txtlight);
  text-align: center;
  width: 65%;
  font-size: 125%;
}

.about {
  width: 100%;
  height: 100%;
  position: relative;
}

.about .main-title {
  text-align: center;
  pointer-events: none;
}

.about .main-title h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.about .main-title h1 span {
  color: var(--lightgreen);
}

.about .main-title h1 .bgtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 800;
  font-size: 150%;
  opacity: 75%;
  color: var(--dark-500);
  z-index: -2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.about .about-container .l-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
}

.about .about-container .l-con h4 {
  font-size: 3rem;
  color: var(--dark-500);
}

.about .about-container .l-con h4 span {
  color: var(--highlight);
  font-size: 125%;
}

.about .about-container .l-con .btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-container .r-con {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.about .about-container .r-con .abt-item {
  padding: 2rem 1rem;
  cursor: default;
  border-radius: 1rem;
  border: 0.1rem solid var(--dark-1000);
  background-color: var(--bgcol);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 0;
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  overflow: hidden;
}

.about .about-container .r-con .abt-item:hover {
  z-index: 1;
  -webkit-transform: translateY(-5px) scale(1.03);
          transform: translateY(-5px) scale(1.03);
  border: 0.1rem solid var(--lightgreen);
}

.about .about-container .r-con .abt-item:hover .abt-txt .small-txt {
  color: white;
}

.about .about-container .r-con .abt-item:hover .abt-txt .small-txt::before {
  background-color: var(--lightgreen);
  height: 75%;
}

.about .about-container .r-con .abt-item .abt-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about .about-container .r-con .abt-item .abt-txt .large-txt {
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  color: var(--lightgreen);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.about .about-container .r-con .abt-item .abt-txt .small-txt {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark-500);
  padding-left: 3.5rem;
  letter-spacing: .2rem;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.about .about-container .r-con .abt-item .abt-txt .small-txt::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 0%;
  width: 2.5rem;
  height: .2rem;
  background-color: var(--dark-500);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.about .skill-title {
  cursor: default;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.about .skill-title h1 {
  text-align: center;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
}

.about .skill-title h1 span {
  color: var(--lightgreen);
}

.about .skill-title h1 .bg-txt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--dark-500);
  opacity: 75%;
  font-size: 4.5rem;
  font-weight: 700;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.about .quality-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
}

.about .quality-section .skill-table {
  padding: .5rem 1.5rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .quality-section .skill-table .skill-item {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .quality-section .skill-table .skill-item .skill-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.about .quality-section .skill-table .skill-item .prgs-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar {
  width: 90%;
  position: relative;
  height: .5rem;
  background-color: var(--dark-500);
  border-radius: 1rem;
  overflow: hidden;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar span {
  height: 100%;
  background-color: var(--lightgreen);
  position: absolute;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar .html {
  width: 90%;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar .graphic-designing {
  width: 75%;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar .python {
  width: 80%;
}

.about .quality-section .skill-table .skill-item .prgs-bar .bar .bash {
  width: 50%;
}

.about .quality-section .passion {
  padding: 2rem;
}

.about .quality-section .passion .passion-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.about .quality-section .passion .passion-head h1 {
  font-size: 1.5rem;
  position: relative;
}

.about .quality-section .passion .passion-head h1 span {
  font-weight: 700;
  color: var(--highlight);
  font-size: 2.5rem;
}

.about .quality-section .passion .passion-head h1 span span {
  color: white;
}

.about .quality-section .passion .passion-head h1 .bg-txt {
  font-weight: 800;
  font-size: 250%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--dark-500);
  opacity: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .quality-section .passion .passion-table {
  margin-top: 2rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.about .quality-section .passion .passion-table .passion-item {
  cursor: default;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.about .quality-section .passion .passion-table .passion-item .passion-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.about .quality-section .passion .passion-table .passion-item .passion-name .icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--highred);
}

.about .quality-section .passion .passion-table .passion-item .passion-name h4 {
  position: relative;
  top: 15%;
  font-size: 1.5rem;
  margin-left: 1rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.about .quality-section .passion .passion-table .passion-item .passion-name h4 span {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.about .quality-section .passion .passion-table .passion-item .passion-name h4::before {
  content: "";
  width: 125%;
  height: .2rem;
  background-color: var(--dark-500);
  position: absolute;
  left: 0;
  bottom: -15%;
}

.about .quality-section .passion .passion-table .passion-item .desc {
  padding: .5rem 3.5rem;
  position: relative;
  color: var(--txtlight);
}

.about .quality-section .passion .passion-table .passion-item .desc::before {
  content: "";
  width: 2rem;
  height: 3%;
  background-color: var(--dark-500);
  position: absolute;
  top: 20%;
  left: .5%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.about .quality-section .passion .passion-table .passion-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about .quality-section .passion .passion-table .passion-item:hover .passion-name h4 span {
  color: var(--highlight);
}

.about .quality-section .passion .passion-table .passion-item:hover .desc::before {
  height: 150%;
  background-color: var(--highred);
}

.about .tl-title {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .tl-title h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.about .tl-title h4 span {
  font-size: 150%;
  color: var(--lightyellow);
  font-weight: 600;
}

.about .tl-title h4::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 50%;
  width: 80%;
  border-radius: 1rem;
  height: .1rem;
  background-color: var(--lightyellow);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about .timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 3rem 0;
}

.about .timeline .tl-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--lightyellow);
}

.about .timeline .tl-item .tl-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -20px;
  top: -5%;
  background-color: var(--lightyellow);
}

.about .timeline .tl-item .tl-icon i {
  font-size: 1.1rem;
}

.about .timeline .tl-item .tl-duration {
  display: inline-block;
  padding: .2rem 1rem;
  border-radius: 5rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--bglight);
}

.about .timeline .tl-item h5 {
  font-size: 1.3rem;
}

.about .timeline .tl-item h5 span {
  text-transform: uppercase;
  color: var(--txtlight);
  font-weight: 500;
  font-size: 1.2rem;
}

.about .timeline .tl-item .details {
  color: var(--txtlight);
}

.contact {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact .con-title {
  color: var(--lightyellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.contact .con-title h1 {
  font-size: 2.5rem;
  position: relative;
  font-weight: 600;
}

.contact .con-title h1 span {
  font-style: normal;
  color: white;
  font-size: 75%;
  font-weight: 600;
}

.contact .con-title h1 .bgtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 150%;
  color: var(--bglight);
  font-weight: 700;
  z-index: -1;
}

.contact .con-body {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .con-body .left-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .con-body .left-con h3 {
  padding: .3rem 0;
  border-bottom: 2px solid var(--lightgreen);
}

.contact .con-body .left-con .abt {
  color: var(--txtlight);
}

.contact .con-body .left-con .contact-info {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 2px solid var(--bglight);
}

.contact .con-body .left-con .contact-info .contact-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: .75rem;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .con-body .left-con .contact-info .contact-item .icon {
  color: var(--lightgreen);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark-500);
  border-radius: 50%;
}

.contact .con-body .left-con .contact-info .contact-item span {
  font-size: 112%;
}

.contact .con-body .left-con .contact-info .contact-item p, .contact .con-body .left-con .contact-info .contact-item a {
  margin: 0 0;
  color: var(--txtlight);
  text-decoration: none;
}

.contact .con-body .right-con {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.contact .con-body .right-con .heading {
  padding: 0 2rem;
  border-radius: 15rem;
  background-color: var(--bgcol);
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  text-transform: uppercase;
}

.contact .con-body .right-con .heading span {
  color: var(--lightyellow);
}

.contact .con-body .right-con .contact-form {
  min-width: 45rem;
  width: 80%;
  padding: 1rem 3rem;
  position: relative;
}

.contact .con-body .right-con .contact-form .seg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.contact .con-body .right-con .contact-form .input-control {
  margin: 1rem 0.5rem;
}

.contact .con-body .right-con .contact-form .input-control input, .contact .con-body .right-con .contact-form .input-control textarea {
  border-radius: 1rem;
  padding: .5rem 1rem;
  background-color: var(--bgcol);
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  color: var(--lightyellow);
}

.contact .con-body .right-con .contact-form .input-control textarea {
  height: 7rem;
}

.contact .con-body .right-con .contact-form .submit {
  width: 25%;
  outline: none;
  margin-left: 1.5rem;
  border-radius: 15rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-size: 125%;
  color: var(--lightyellow);
  border: 2px solid var(--lightyellow);
  background: none;
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
}

.contact .con-body .right-con .contact-form .submit::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highred);
  z-index: -1;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 95%;
  }
  header {
    padding: 0;
  }
  section {
    padding: 0;
  }
  .home .header-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home .header-content .left-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .header-content .left-header .name {
    width: 100%;
    right: 0 !important;
    text-align: center !important;
  }
  .home .header-content .left-header h1 {
    margin-bottom: o !important;
  }
  .home .header-content .left-header p {
    width: 100%;
  }
  .home .header-content .left-header h3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 2rem;
  }
  .home .header-content .left-header .btn-con {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1.5rem;
  }
  .home .header-content .right-header {
    display: none;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--bgcol);
  }
  .controls .control {
    margin: .5rem;
  }
  .controls .float {
    display: none;
  }
  .about {
    padding: 2rem;
  }
  .about .main-title h1 {
    font-size: 150% !important;
  }
  .about .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  .about .about-container .l-con {
    padding: 0 2rem !important;
  }
  .about .about-container .l-con h4 {
    font-size: 1.5rem;
  }
  .about .about-container .l-con h4 span {
    font-size: 175%;
  }
  .about .about-container .r-con .abt-item .abt-txt {
    width: 100%;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-container .r-con .abt-item .abt-txt .large-txt {
    font-size: 200% !important;
  }
  .about .about-container .r-con .abt-item .abt-txt .small-txt {
    font-size: 100% !important;
  }
  .about .skill-title {
    width: 100%;
    margin-top: 1rem;
  }
  .about .skill-title h1 {
    font-size: 175%;
  }
  .about .skill-title h1 .bg-txt {
    font-size: 175%;
  }
  .about .quality-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1rem 0;
  }
  .about .quality-section .skill-table {
    margin-top: 0 !important;
    padding: 0 1rem;
  }
  .about .quality-section .skill-table .skill-item {
    padding: .5rem;
  }
  .about .quality-section .passion {
    padding: 1.5rem 0;
  }
  .about .quality-section .passion .passion-head h1 {
    font-size: 175%;
    pointer-events: none;
  }
  .about .quality-section .passion .passion-head h1 .bg-txt {
    font-size: 175%;
  }
  .about .quality-section .passion .passion-table {
    margin-top: 0;
    grid-gap: 1rem;
  }
  .about .quality-section .passion .passion-table .passion-item .passion-name {
    font-size: 100%;
  }
  .about .quality-section .passion .passion-table .passion-item .passion-name h4 {
    font-size: 125% !important;
  }
  .about .quality-section .passion .passion-table .passion-item .desc {
    font-size: 100% !important;
    margin-bottom: 0;
  }
  .about .timeline {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .contact {
    padding: 2rem;
  }
  .contact .con-title h1 {
    font-size: 175%;
  }
  .contact .con-body {
    padding: 0;
  }
  .contact .con-body .right-con {
    padding: 0;
  }
  .contact .con-body .right-con .heading h1 {
    font-size: 150%;
  }
  .contact .con-body .right-con .contact-form {
    min-width: 15rem !important;
    margin-top: .5rem;
    width: 100%;
    padding: 0;
  }
  .contact .con-body .right-con .contact-form .submit {
    width: 40%;
  }
}
/*# sourceMappingURL=localcss.css.map */