@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --dark-1000: #222629;
  --dark-500: #474B4F;
  --bgcol: hsl(243, 29%, 15%);
  --highlight: hsl(0, 100%, 50%);
  --highred: hsl(5, 80%, 45%);
  --lightgreen: #8cff32;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
  list-style: none;
}

body {
  color: white;
  font-size: 1.0rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .control {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: var(--dark-500);
  padding: .7rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 1rem;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.controls .control:hover {
  background-color: var(--lightgreen);
}

.controls .control:hover i {
  color: #1a1a1a;
}

.controls .control .float {
  font-size: 150%;
  position: absolute;
  pointer-events: none;
  left: 33%;
  bottom: 5%;
  opacity: 0%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: -15;
}

.controls .control .shift {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls .control .shift:hover + .float {
  left: 125%;
  opacity: 100%;
}

.controls .control i {
  color: #bfbfbf;
  font-size: 0.9rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.controls .activeIt {
  background-color: var(--highlight);
}

.controls .activeIt:hover {
  background-color: var(--highred);
}

.controls .activeIt:hover i {
  color: white;
}

.controls .activeIt i {
  color: white;
  font-size: 1.2rem;
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
  position: relative;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: translateY(-100%) scaleY(0);
          transform: translateY(-100%) scaleY(0);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: var(--dark-1000);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: var(--bgcol);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #a358ff;
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #ffb2f0;
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #ff9dc9;
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  background-color: #1371ff;
}

.show {
  display: block;
  -webkit-animation: slide 1s ease-in-out;
          animation: slide 1s ease-in-out;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-75%) scaleY(0);
            transform: translateY(-75%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-75%) scaleY(0);
            transform: translateY(-75%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.b {
  border: 2px solid white;
}

.blendimg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  background-color: var(--bgcol);
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.header-content .right-header {
  position: relative;
}

.header-content .right-header .triangle {
  right: -25%;
  top: 0;
  z-index: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);
  -webkit-animation: anim 15s infinite alternate ease-in-out;
          animation: anim 15s infinite alternate ease-in-out;
}

.header-content .right-header .triangle:hover + .triangle2 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: white;
}

@-webkit-keyframes anim {
  0% {
    background-color: var(--lightgreen);
  }
  47% {
    background-color: var(--lightgreen);
  }
  53% {
    background-color: var(--highlight);
  }
  100% {
    background-color: var(--highlight);
  }
}

@keyframes anim {
  0% {
    background-color: var(--lightgreen);
  }
  47% {
    background-color: var(--lightgreen);
  }
  53% {
    background-color: var(--highlight);
  }
  100% {
    background-color: var(--highlight);
  }
}

.header-content .right-header .triangle2 {
  right: -50%;
  top: 0;
  background-color: var(--bgcol);
  z-index: 2;
  pointer-events: none;
  -webkit-clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 50% 100%, 0% 50%);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.header-content .right-header .triangle3 {
  width: 31.5rem;
  height: 45rem;
  border-radius: 1rem;
  position: absolute;
  top: 15%;
  right: 0%;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.header-content .right-header .triangle3 .img {
  width: 93%;
  height: 95%;
  border-radius: 1rem;
  background-image: url("../img/1.jpg");
  background-position: center;
  background-size: cover;
}

.header-content .right-header .popdown {
  -webkit-transform: translateX(50%) scale(0.5);
          transform: translateX(50%) scale(0.5);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header-content .right-header .popup {
  -webkit-transform: translateX(-15%) scale(1);
          transform: translateX(-15%) scale(1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.header-content .right-header .shape {
  width: 100%;
  height: 100%;
  position: absolute;
}

.header-content .left-header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  text-align: center;
}

.header-content .left-header .name {
  text-align: center;
}

.header-content .left-header .name span {
  font-size: 150%;
  -webkit-animation: clr 15s infinite alternate ease-in-out;
          animation: clr 15s infinite alternate ease-in-out;
}

@-webkit-keyframes clr {
  0% {
    color: var(--highlight);
  }
  47% {
    color: var(--highlight);
  }
  53% {
    color: var(--lightgreen);
  }
  100% {
    color: var(--lightgreen);
  }
}

@keyframes clr {
  0% {
    color: var(--highlight);
  }
  47% {
    color: var(--highlight);
  }
  53% {
    color: var(--lightgreen);
  }
  100% {
    color: var(--lightgreen);
  }
}

.header-content .left-header h1 {
  position: absolute;
  right: inherit;
  top: 33%;
}

.header-content .left-header h3 {
  position: absolute;
  right: -10%;
  top: 37%;
}

.header-content .left-header p {
  text-align: left;
  width: 65%;
  font-size: 125%;
}

.header-content .left-header .btn-con .main-btn {
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25rem;
  position: relative;
  border: 1px solid var(--highlight);
  overflow: hidden;
}

.header-content .left-header .btn-con .main-btn .btn-text {
  padding: 0 2rem;
  color: white;
  text-decoration: none;
}

.header-content .left-header .btn-con .main-btn .btn-icon {
  padding: .7rem;
  background-color: var(--highred);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.header-content .left-header .btn-con .main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highred);
  z-index: -1;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-content .left-header .btn-con .main-btn:hover .btn-icon {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.header-content .left-header .btn-con .main-btn:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*# sourceMappingURL=localcss.css.map */